accelerate==0.16.0
bert_score==0.3.13
cdifflib
datasets==2.10.0
deepspeed==0.8.1
evaluate==0.4.0
gensim
gpustat
ipython
joblib
jupyter
matplotlib
nltk
pandas
rake_nltk
rouge_score==0.1.2
sacrebleu==1.5.1
sacremoses==0.0.53
sentence-transformers==2.2.2
scikit-learn==1.2.1
spacy
tensorflow
tokenizers==0.13.2
torch==1.13.1
protobuf==3.19.6
tabulate
